.line{
	position: absolute;
}
#timeline_container{
	width:100%;
	height:100%;
	position: absolute;
}
.timeline_divs{
	width:40px;
	height:40px;
	position: absolute;
	background-color: #20c068;
	border-radius: 20px;
	display: none;
	-webkit-transition:all .1s ease-in;
	-webkit-animation-duration: 2s;
	-moz-transition:all .1s ease-in;
	-moz-animation-duration: 2s;
	-o-transition:all .1s ease-in;
	-o-animation-duration: 2s;
	-ms-transition:all .1s ease-in;
	-ms-animation-duration: 2s;
	z-index:10;
}
.timeline_divs:hover{
	width:50px;
	height:50px;
	border-radius: 25px;
	cursor:pointer;
}
.timeline_divs img{
	padding-top: 3px;
	padding-left: 5px;
}
.timeline_divs:hover img{
	padding-top:6px;
	padding-left:9px;
}
#timeline_details{
	position: relative;
	width: 40%;
	height:55%;
	left:30%;
	top:10%;
	background-image: url('../images/inremebrance.jpg');
	background-repeat: no-repeat;
}
.timeline_detail_container{
	position: absolute;
	width:100%;
	background-color: #20c068;
	height:100%;
	-webkit-animation:all 2s;
	-moz-animation:all 2s;
	-ms-animation:all 2s;
	-o-animation:all 2s;
	font-family: 'Roboto-Thin';
}
.timeline_text{
	position: relative;
	height:30%;
	text-align: center;
	font-size: 25px;
	line-height: 20px;
}
.timeline_pic{
	height:50%;
	font-family: 'Roboto-Regular';
	text-align: center;
}
.vertical-align{
	width: 100%;
	height:35px;
	position:absolute;
	top:50%;
	margin-top: -17px;
}